.contact {
    background-color: #FCC8D1;;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    flex-basis: 50%;
    max-width: 50%;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    flex-wrap: wrap;
    font-family: 'Merriweather', serif;
    line-height: 1.5em;
  }
  
  h3 {
    margin-top: 20;
  }
  
  .list {
    line-height: 2.2em;
  }
  
  #image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #icon {
    text-align: center;
    font-size: 25px;
    color: hotpink;

  }